<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Leave a review</h1>
    <form action="/rthanks" method="POST">
      <label for="name">Your Name </label>
      <input type="text" name="name" id="name" />
      <div>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
      </div>
      <h2>Rating</h2>
      <label for="5">5 (best) - </label>
      <input type="radio" name="rating" id="5" value="5" />
      <label for="4">4 - </label>
      <input type="radio" name="rating" id="4" value="4" />
      <label for="3">3 - </label>
      <input type="radio" name="rating" id="3" value="3" />
      <label for="2">2 - </label>
      <input type="radio" name="rating" id="2" value="2" />
      <label for="1">1 (worst) - </label>
      <input type="radio" name="rating" id="1" value="1" />
      <button>Submit</button>
      <a href="/">Never Mind</a>
    </form>
  </body>
</html>

{{! req.body will be made up of the data from your form based on the name attribute. the one exception is with a radio button where the value of name will actually come from the value attribute instead of name attribute. Property name will come from name attribute. }}